---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Header from '../components/Header.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
import Noticias from '../components/Noticias.astro';
import Eventos from '../components/Eventos.astro';
import Recordatorio from '../components/Recordatorio.astro';
---

<Layout title="AntiSAT la mejor comunidad de Tecnologia Web3 de toda Latino America"
 description="Descubre la tecnologia web3 de la mano de los expertos y forjemos un adpcion masiva dentro de Latino America y el mundo">

	<main>
		
		<Eventos  >




			

		</Eventos>
	<Noticias />
	
	 <PreFooter />

		
	</main>

	 <Footer/>
</Layout>

<style></style>
